.clicker-box {
  margin: 100px auto;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  position: relative;
}

.number {
  text-align: center;
  font-size: 100px;
  vertical-align: middle;
  line-height: 150px;
}

.buttons {
  margin-top: 50px;
  text-align: center;
}

.icon {
  margin: 0 auto !important;
  font-size: 25px !important;
}
